<html>

<head>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.js"></script>
    <script type="text/javascript">
        const RADIUS = 113;
        const RAW_NUM = 15;
        const COL_NUM = 24;
        const DISTRACT = 300;
        const BIGGEST_BTN = 80;
        const DP_RATIO = 0.6;
        const BASE_BTN = 1;
    </script>
    <link rel="stylesheet" type="text/css" href="resources/tofu.css">
</head>

<body>


    <input type="button" id="Calibration1" value="1"   >
   <input type="button" id="Calibration2" value="2"   >
   <input type="button" id="Calibration3" value="3"   >
    <input type="button" id="Calibration4" value="4"   >
   <input type="button" id="Calibration5" value="5"   >
   <input type="button" id="Calibration6" value="6"   >
   <input type="button" id="Calibration7" value="7"   >
   <input type="button" id="Calibration8" value="8"   >
   <input type="button" id="Calibration9" value="9"   > 
  

    <% for(var i=0; i<15; i++) { %>
        <% for(var j=0; j<24; j++) { %>

            <div class="block" id="blk_<%=i%>_<%=j%>">
                <button value="">
                <% if(process.argv[2] === 'swipe'){ %>
                    <% var op = 2 * ( i % 2 ) + ( j % 2 ); %>
                    <img src="../resources/arrow_<%=op%>.png">
                <% } %>
                </button>
            </div>

            <% } %>
                <% } %>

                    <% if(process.argv[4] === 'mobile' && process.argv[2] === 'swipe'){ %>

                        <div id="MobileContainer"></div>
                        <% } %>

                            <!--  <div id="MouseEventsContainer">
            <div onmousedown=" MouseClickEvent()" id="MouseBox" style="width:1400px;height:600px;">

            </div>
      </div> -->

                            <div id="canvas_container">
                                <canvas id="canvas" width="1400" height="1000"></canvas>
                            </div>

                            <% if(process.argv[2] !== 'tap'){ %>
                                <div id="eye_tracker" class="<%=EYETRACKER%>">
                                    <% if(process.argv[2] === 'dwell'){ %>
                                        <div id="circle"></div>
                                        <% } %>
                                </div>
                                <% } %>

                                    <script src="/socket.io/socket.io.js"></script>
                                    <script src="resources/tofu.js"></script>

</body>

</html>