* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	background-image: url(gmail.png);
	background-size: cover;
}

#header {
	/*border: solid black 3px;*/
	width: 100%;
	height: 83px;
	padding: 21.5px 40px 21.5px 40px;
}

#search {
	position: absolute;
	height: 40px;
	width: 902px;
	margin-left: 242px;
}

#search #search-bar {
	height: 100%;
	width: 820px;
	float: left;
}

#search #search-icon {
	height: 100%;
	width: 82px;
	float: left;
}

#right-block div {
	float: right;
	height: 42px;
	width: 45px;
	margin-left: 17px;
}

#option-bar {
	/*border: solid black 3px;*/
	width: 100%;
	height: 67px;
}

#option-bar #gmail {
	margin-right: 128px;
	margin-left: 40px;
}

#option-bar div {
	width: 100px;
	height: 42px;
	margin: 12px;
	float: left;
}

#side-bar {
	/*border: solid black 3px;*/
	position: absolute;
	width: 280px;
	height: 1183px;
}

#nav {
	height: 535px;
	padding-left: 30px;
	padding-right: 60px;
}

#hangouts {
	height: 648px;
}

.friend {
	height: 61px;
	width: 225px;
	margin-left: 35px;
}

#hangouts-footer {
	width: 100%;
	height: 45px;
	position: absolute;
	bottom: 0;
	padding-left: 75px;
}

.hangouts-icon {
	/*border: solid black 1px;*/
	float: left;
	width: 50px;
	height: 45px;
}

#inbox {
	/*border: solid black 3px;*/
	margin-left: 280px;
	height: 1183px;
	width: cal(100% - 280px);
}

#tab-bar {
	/*border: solid black 1px;*/
	height: 81px;
	width: 100%;
}

.tab {
	/*border: solid black 1px;*/
	float: left;
	width: 352px;
	height: 60px;
	margin: 11px 0px 10px 0px;
}

.mail {
	/*border: solid black 1px;*/
	height: 56.7px;
	width: 100%;
}