* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

#canvas_container {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
}

#MobileContainer {
    height: 100%;
    width: 100%;
    position: absolute;
}

#eye_tracker {
    pointer-events: none;
    position: absolute;
}

#eye_tracker.gesturetag {
    display: block;
    width: 60mm;
    height: 60mm;
    margin-top: -30mm;
    margin-left: -30mm;
    border-radius: 30mm;
    background: rgba(10, 112, 215, 0.4);
    -webkit-filter: blur(10px);
}

#eye_tracker.dwell {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 8px;
    background: #FFD700;
    /* -webkit-filter: blur(10px); */
}

#circle {
    margin-top: -16px;
    margin-left: -16px;
}

.block {
    position: relative;
    float: left;
    height: calc( 1/15 * 100%);
    width: calc( 1/24 * 100%);
}

.trajectory {
    position: absolute;
    height: calc( 48px / 0.6);
    width: calc( 48px / 0.6);
    border: blue solid 2px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: calc( -24px / 0.6);
    margin-left: calc( -24px / 0.6);
}

button {
    padding: 0;
    display: none;
    position: absolute;
    height: calc( 12px / 0.6);
    width: calc( 12px / 0.6);
    border-radius: 50%;
    /*border-color: transparent;*/
    top: 50%;
    left: 50%;
    margin-top: calc( -16px / 0.6);
    margin-left: calc( -16px / 0.6);
    background-color: #e7e7e7;
}

.target {
    background: red;
}

.clicked {
    background: pink;
}

button img {
    display: none;
    height: 100%;
    width: 100%;
}

.calibration {
    height: 100px;
    width: 100px;
    pointer-events: none;
    position: absolute;
}

#Calibration1 {
    left: 5%;
    top: 3%;
    /* left:100px; top: 100px; */
}

#Calibration2 {
    left: 45%;
    top: 3%;
    /* left:1300px; top: 100px; */
}

#Calibration3 {
    left: 85%;
    top: 3%;
    /* left:2500px; top: 100px; */
}

#Calibration4 {
    left: 5%;
    top: 40%;
    /* left:100px; top: 850px; */
}

#Calibration5 {
    left: 45%;
    top: 40%;
    /* left:1300px; top: 850px; */
}

#Calibration6 {
    left: 85%;
    top: 40%;
    /* position:absolute; left:2500px; top: 850px; */
}

#Calibration7 {
    left: 5%;
    top: 77%;
    /* position:absolute; left:100px; top: 1600px;s */
}

#Calibration8 {
    left: 45%;
    top: 77%;
    /* left:1300px; top: 1600px; */
}

#Calibration9 {
    left: 85%;
    top: 77%;
    /* left:2500px; top: 1600px; */
}


/* ---------- Container for the orbiting circles animation ---------- */

#circle-orbit-container {
    position: relative;
    top: -100px;
    left: -100px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
}

.track {
    position: absolute;
    border: 1px rgb(118, 118, 118) solid;
    border-radius: 100%;
}

.orbit0 {
    border: 2px dashed;
    animation: spin-right 3s linear infinite;
}

.orbit1 {
    border: 2px dashed;
    animation: spin-right 1.5s linear infinite;
}

.orbit2 {
    border: 2px dashed;
    animation: spin-left 3s linear infinite;
}

.orbit3 {
    border: 2px dashed;
    animation: spin-left 1.5s linear infinite;
}

.dot {
    /*display: none;*/
    position: absolute;
    left: 50%;
    margin-left: -5px;
    margin-top: -6px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}


/* original size same as curosr size */


/*
#track0 {
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    animation: spin-right 3s linear infinite;
}

#track1 {
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    animation: spin-left 3s linear infinite;
}

#track2 {
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    animation: spin-right 3s linear infinite;
}

#track3 {
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    animation: spin-left 3s linear infinite;
}

.pursuit {
    position: absolute;
    border-radius: 100%;
}

#pursuit0 {
    top: 20px;
    left: 20px;
    height: 20px;
    width: 20px;
    background-color: yellow;
    z-index: 10;
}

#pursuit1 {
    top: 20px;
    left: 20px;
    height: 20px;
    width: 20px;
    background-color: green;
    z-index: 10;
}

#pursuit2 {
    top: 155px;
    left: 155px;
    height: 20px;
    width: 20px;
    background-color: blue;
    z-index: 10;
}

#pursuit3 {
    top: 155px;
    left: 155px;
    height: 20px;
    width: 20px;
    background-color: deepskyblue;
    z-index: 10;
}

*/


/* large trajectory */


/*
#track0 {
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    animation: spin-right 2s linear infinite;
}

#track1 {
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    animation: spin-left 2s linear infinite;
}

#track2 {
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    animation: spin-right 2s linear infinite;
}

#track3 {
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    animation: spin-left 2s linear infinite;
}

.pursuit {
    position: absolute;
    border-radius: 100%;
}

#pursuit0 {
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: yellow;
}

#pursuit1 {
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: green;
}

#pursuit2 {
    top: 75px;
    left: 75px;
    height: 20px;
    width: 20px;
    background-color: blue;
}

#pursuit3 {
    top: 75px;
    left: 75px;
    height: 20px;
    width: 20px;
    background-color: deepskyblue;
}
*/


/* medium trajectory */

#track0 {
    top: -35px;
    left: -35px;
    width: 70px;
    height: 70px;
    animation: spin-right 2s linear infinite;
}

#track1 {
    top: -35px;
    left: -35px;
    width: 70px;
    height: 70px;
    animation: spin-left 2s linear infinite;
}

#track2 {
    top: -35px;
    left: -35px;
    width: 70px;
    height: 70px;
    animation: spin-right 2s linear infinite;
}

#track3 {
    top: -35px;
    left: -35px;
    width: 70px;
    height: 70px;
    animation: spin-left 2s linear infinite;
}

.pursuit {
    position: absolute;
    border-radius: 100%;
}

#pursuit0 {
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: yellow;
}

#pursuit1 {
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: green;
}

#pursuit2 {
    top: 45px;
    left: 45px;
    height: 20px;
    width: 20px;
    background-color: blue;
}

#pursuit3 {
    top: 45px;
    left: 45px;
    height: 20px;
    width: 20px;
    background-color: deepskyblue;
}


/* small trajectory */


/*
#track0 {
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    animation: spin-right 2s linear infinite;
}

#track1 {
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    animation: spin-left 2s linear infinite;
}

#track2 {
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    animation: spin-right 2s linear infinite;
}

#track3 {
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    animation: spin-left 2s linear infinite;
}

.pursuit {
    position: absolute;
    border-radius: 100%;
}

#pursuit0 {
    top: 0px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: yellow;
}

#pursuit1 {
    top: 0px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: green;
}

#pursuit2 {
    top: 22px;
    left: 22px;
    height: 15px;
    width: 15px;
    background-color: blue;
}

#pursuit3 {
    top: 22px;
    left: 22px;
    height: 15px;
    width: 15px;
    background-color: deepskyblue;
}
*/


/* ---------- Animation ---------- */

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-left {
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}