* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

#canvas_container {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
}

#MobileContainer {
    height: 100%;
    width: 100%;
    position: absolute;
}

#eye_tracker {
    pointer-events: none;
    position: absolute;
}

#eye_tracker.gesturetag {
    display: block;
    width: 60mm;
    height: 60mm;
    margin-top: -30mm;
    margin-left: -30mm;
    border-radius: 30mm;
    background: rgba(10, 112, 215, 0.4);
    -webkit-filter: blur(10px);
}

#eye_tracker.dwell {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 8px;
    background: #FFD700;
    /* -webkit-filter: blur(10px); */
}

#circle {
    margin-top: -16px;
    margin-left: -16px;
}

.block {
    position: relative;
    float: left;
    height: calc( 1/15 * 100%);
    width: calc( 1/24 * 100%);
}

button {
    padding: 0;
    display: none;
    position: absolute;
    height: calc( 12px / 0.6);
    width: calc( 12px / 0.6);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: calc( -16px / 0.6);
    margin-left: calc( -16px / 0.6);
    background-color: #e7e7e7;
}

/*default orbit*/
.orbit {
    border: 2px dashed;
    animation: spin-right 5s linear infinite;
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-left {
    100% {
        transform: rotate(-360deg);
    }
}

.target {
    background: red;
}

.clicked {
    background: pink;
}

button img {
    display: none;
    height: 100%;
    width: auto;
}

.gif {
    position: absolute;
    top: 0;
    left: 0;
}

.dot {
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.calibration {
    height: 100px;
    width: 100px;
    pointer-events: none;
    position: absolute;
}

#Calibration1 {
    left: 5%;
    top: 3%;
    /* left:100px; top: 100px; */
}

#Calibration2 {
    left: 45%;
    top: 3%;
    /* left:1300px; top: 100px; */
}

#Calibration3 {
    left: 85%;
    top: 3%;
    /* left:2500px; top: 100px; */
}

#Calibration4 {
    left: 5%;
    top: 40%;
    /* left:100px; top: 850px; */
}

#Calibration5 {
    left: 45%;
    top: 40%;
    /* left:1300px; top: 850px; */
}

#Calibration6 {
    left: 85%;
    top: 40%;
    /* position:absolute; left:2500px; top: 850px; */
}

#Calibration7 {
    left: 5%;
    top: 77%;
    /* position:absolute; left:100px; top: 1600px;s */
}

#Calibration8 {
    left: 45%;
    top: 77%;
    /* left:1300px; top: 1600px; */
}

#Calibration9 {
    left: 85%;
    top: 77%;
    /* left:2500px; top: 1600px; */
}