* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-weight: 100%;
    margin: 0;
    background-image: url(youtube.png);
    background-size: cover;
    overflow: hidden;
}

#canvas_container {
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
}

#MobileContainer {
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

#eye_tracker {
    pointer-events: none;
    position: absolute;
}

#eye_tracker.gesturetag {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50px;
    background: rgba(10, 112, 215, 0.4);
    -webkit-filter: blur(10px);
}

#eye_tracker.dwell {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 8px;
    background: red;
    -webkit-filter: blur(5px);
}

button {
    height: 100%;
    width: 100%;
    /*visibility: hidden;*/
    opacity: 0.7;
    background: pink;
}

.target {
    visibility: visible;
    opacity: 0.7;
    background: #b0e7c6;
}

.clicked {
    visibility: visible;
    opacity: 0.7;
    background: pink;
}

img {
    position: relative;
    visibility: visible;
    display: none;
    height: 100%;
    float: right;
}

#header {
    width: 100%;
    height: 63px;
}

#header div {
    height: 63px;
    padding: 10px;
}

#toggle {
    position: absolute;
    width: 63px;
    margin-left: 10px;
}

#youtube {
    position: absolute;
    margin-left: 60px;
    width: 150px;
}

#search {
    position: absolute;
    margin-left: 250px;
    width: 750px;
    padding: 5px;
}

#search #search-bar {
    height: 100%;
    width: 658px;
    float: left;
    padding: 3px;
}

#search #search-icon {
    height: 100%;
    width: 68px;
    float: left;
    padding: 3px 0px 3px 0px;
}

#right-block div {
    float: right;
    height: 100%;
    padding: 0px;
    width: 39px;
    margin-right: 17px;
}

#right-block #profile {
    width: 45px;
}


#side-bar {
    position: absolute;
    width: 260px;
    height: 1053px;
}

.side-btn {
    height: 37px;
    width: 195px;
    margin: 8px 0px 8px 20px;
}

#library {
    margin-top: 68px;
}

#channels {
    margin-top: 58px;
}

#channel06 {
    margin-bottom: 5px;
}

#channel07 {
    margin-top: 5px;
}

#browse {
    margin-top: 20px;
}

#settings {
    margin-top: 25px;
}

#main {
    position: absolute;
    margin-left: 260px;
    height: 1053px;
    width: 1226px;
}

#up-next {
    margin-left: 1486px;
    height: 1053px;
    width: 434px;
}

#auto {
    height: 51px;
    padding-left: 245px;
    padding-top: 15px;
    padding-right: 70px;
}

.video {
    height: 85px;
    width: 151px;
    margin-top: 7px;
}

#video01 {
    margin-bottom: 28px;
}
